* {
  background-color: rgb(15, 18, 43);
  color: rgb(201, 201, 201);
}

#button-div {
  margin: 2em;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0 2em 0 2em;
}

#header-div {
  justify-content: center;
  align-items: center;
}

#logo {
  height: 200px;
  margin: 0 2em 2em 2em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

#film-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#people-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

#people-card .card-text {
  font-size: .75em;
  align-self: center;
}
